
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
    font-family: "Nunito", sans-serif;
}

.timerBlock{
    text-align: center;
    align-items: center;
}

.timerText{
    margin-top: 30vh;
    font-size: 80px;
    text-align: center;
}

.timerButton{
    text-align: center;
    font-size: 30px;
    background-color: #0971c6;
    border-radius: 20px;
    border: 3px solid black;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

.timerButton:hover{
    background-color: #08518d;
    transform: scale(1.05);
}

.timerButton:active{
    background-color: #0c416c;
    transform: scale(0.95);
}